<%-include('../partials/head')-%>

<%-include('../partials/navbar')-%>

<%-include('../pages/aside')-%>

<%-include('../components/carrito')-%>



<%-include('seccion1')-%>

<%-include('seccion2')-%>

<div id="seccion3_categories" class="section3">

</div>

<!-- dos div porque? -->



<script src="./js/index.js"></script>

<%-include('../partials/footer')-%>